<h1><%= @teacher.name %></h1>
<p><%= @teacher.description %></p>
 <% @teacher.reviews.each do |review| %>
    <p> <%= review.content %></p>
    <p> <%= review.rating %></p>
  <%end  %>
<%= link_to "add review", new_teacher_review_path(@teacher) %>
